@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #464646;
}
a:hover {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input,
textarea {
  tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
input[disabled],
textarea[disabled] {
  opacity: 1;
}
button,
a {
  tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: Helvetica, sans-serif;
  text-size-adjust: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
a,
img {
  touch-callout: none;
  -webkit-touch-callout: none;
}
img {
  max-width: 100%;
}
.clearfix:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
}
html,
body {
  font-size: 0.8125rem;
  user-select: none;
  -webkit-user-select: none;
}
@-webkit-keyframes fixedIn {
  0% {
    -webkit-transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fixedIn {
  0% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fixedIn {
  0% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fixedIn {
  0% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fixedIn {
  0% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
body {
  overflow-y: auto;
  font-family: "PingFang-SC-Regular", Helvetica, "sans-serif";
  overflow-scrolling: touch;
  text-size-adjust: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  color: #464646;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
.body--fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.body--fixed .layer-mask {
  display: block;
  content: " ";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}
input[type=color],
input[type=range],
input[type=date],
input[type=datetime],
input[type=week],
input[type=month],
input[type=time],
input[type=datetime-local],
input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=url],
textarea {
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}
.wrapper {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 4.5625rem;
  overflow: hidden;
}
.wrapper__fixed {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1111;
  margin-bottom: 0;
  padding-bottom: 3.4375rem;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.borderbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-box .flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.btn-anju {
  display: block;
  width: 100%;
  height: 3.125rem;
  line-height: 3.125rem;
  border-radius: 0.1875rem;
  background-color: #3f88fb;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}