.wrapper {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 4.5625rem;
  overflow: hidden;
}
.slide {
  padding-top: 125%;
  position: relative;
  overflow: hidden;
  background-color: #efefef;
}
.slide .slide__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide .slide__wrapper .slide__item {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.slide .slide__wrapper .slide__item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.play_box a{
  position: absolute;
  top: 28%;
  left: 38%;
  width: 5rem;
  height: 5rem;
  background-image: url(/static/resource/img/play.png);
}
.content{
  //margin-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #eaeaea;
}
.content .content_detail_title {
  font-size: 1.375rem;
  line-height: 1.875rem;
  padding-right: 30%;
  position: relative;
  font-weight: 700;
  margin-bottom: .4rem;
}
.content .content_detail_subtitle{
  color: #999;
  font-size: 0.625rem;
  font-family: simsun;
  margin: .1rem 0;
}
.content_btn{
  margin-top: 1.875rem;
}
.content_btn a{
  display: inline-block;
  height: 1.875rem;
  width: 45%;
  border: 2px solid #efb336;
  text-align: center;
  line-height: 1.875rem;
  font-size: .75rem;
  color: #efb336;
}
.content_btn .want{
  float: left;
}
.content_btn .saw{
  float: right;
}
.content_padding{
  padding: 0 1.25rem;
}
.snopsis_content{
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.snopsis_casts_title{
  font-family: simsun;
  color: #999;
  font-size: 0.7rem;
  margin-bottom: .5rem;
}
.snopsis_info{
  font-size: 0.725rem;
  line-height: 1.5rem;
}
.casts_info{
  margin-top: .825rem;
  white-space: nowrap;
  overflow-x: auto;
}
.casts_item{
  display: inline-block;
  width: 4rem;
  height: 6.5rem;
  padding-right: 1rem;
  max-width: 100%;
  overflow: hidden;
}
.casts_item img{
  width: 4rem;
  height: 5rem;
}
.casts_item p{
  font-family: simsun;
  font-size: 0.625rem;
  white-space: normal;
  text-align: center;
}
.casts_content{
  margin-bottom: 2rem;
}
::-webkit-scrollbar{
  display: none;
}